body{
    padding: 0; margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container{ 
    display: flex;
    flex-wrap: wrap; /* para que los divs salten a la siguiente fila */
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}
.boton{
    display: flex;
    justify-content: center;
    margin:20px;
}
/* Quiero 16 cuadrados por cada fila, entonces el ancho será de ancho del viewport, menos los gaps (hay 1 gap menos que cuadros, 15) (100vw - (2*15))/ 16) */

.square {
    background-color: rgb(211, 211, 211);
}

